
@{
    ViewBag.Title = "Lista de Tareas";
}

<h2>Lista de tareas</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Create date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TaskDTO task in ViewBag.ListOfTasks) {
            <tr>
                <td>@task.ID</td>
                <td>@task.Name</td>
                <td>@task.CreateDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>